<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button> <img mat-icon-image src="../assets/image/Opera Instantánea_2021-09-17_235925_grupoforco.com.png" />
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="../assets/image/Opera Instantánea_2021-09-18_003449_www.facebook.com.png" />

        <h4 class="name">Contactenos al 24611248</h4>
        <p class="designation">Sinpe movil al 86121999</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink='/home'>
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Hogar</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Tecnologia</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink='/personalcare'>
            <mat-icon>info</mat-icon>
            <span>Cuidado Personal</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    
        
     <main>
        <router-outlet></router-outlet>
     </main>
       
    
</mat-sidenav-container>